# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Dependencies
/node_modules

# Build files
/build
/dist

# IDE files
.idea/
.vscode/

node_modules/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
build/
.DS_Store